.hover {
  box-shadow: 0 0 #ee3757;
  transition-property: box-shadow;
  transition-duration: 0.1s;
}
.hover:hover {
  box-shadow: 0 0.5em #ee3757;
}

.socials {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
  margin: 16px 48px;
}
.socialIcon {
  height: 48px;
  border-radius: 100%;
}

section.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 100vh;
}
section.content img.logo {
  height: auto;
  max-width: 560px;
}

section.content .cta {
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 12px 2em;
}

section.info {
  min-height: 60vh;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

section.info .infoCopy {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.info .infoCopy a {
  color: inherit;
  text-decoration: underline;
}

section.info video {
  width: 60vw;
}

@media (width <= 800px) {
  section.content {
    margin: 0 24px;
    align-items: stretch;
  }
  section.content img.logo {
    max-width: auto;
    width: 100%;
  }

  section.info {
    min-height: auto;
    flex-direction: column;
  }
  section.info video {
    width: 100%;
  }
}
