.socials {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  display: flex;
  gap: 1em;
}

img.logo {
  height: 600px;
}

a.cta {
  text-decoration: none;
}

a.cta > * {
  background-color: black;
  color: white;
  border-radius: 0.5em;
  padding: 1em 2em;
}

@media (width <= 800px) {
  img.logo {
    height: auto;
    width: 80vw;
  }
}
