.button {
  text-align: center;
}
.button button {
  font-size: 3em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  color: black;
  background-color: lightgreen;
}
.button button:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

.error {
  background-color: lightgray;
  padding: 1em;
  font-family: monospace;
}
