.wrapper {
  min-height: 100vh;
  position: relative;
}
.image {
  min-width: 100%;
  min-height: 100vh;
  max-width: none;
  max-height: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-size: cover;
  background-position: center;

  animation-name: bg-slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}
@keyframes bg-slide {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.bg1 {
  background-image: url('/assets/stages/rooftop_day/shc_rooftop_day_sky.png');
}
.bg2 {
  background-image: url('/assets/stages/rooftop_day/shc_rooftop_day_buildings.png');
}
.bg3 {
  background-image: url('/assets/stages/rooftop_day/shc_rooftop_day_platform.png');
}
@media (prefers-color-scheme: dark) {
  .bg1 {
    background-image: url('/assets/stages/rooftop_night/shc_rooftop_night_paint_sky.png');
  }
  .bg2 {
    background-image: url('/assets/stages/rooftop_night/shc_rooftop_night_buildings.png');
  }
  .bg3 {
    background-image: url('/assets/stages/rooftop_night/shc_rooftop_night_platform.png');
  }
}

.content {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

@media (width <= 800px) {
  .wrapper {
    animation-duration: 30s;
  }
}
